# Operator image
image:
  repository: ghcr.io/sevgingalibov/auto-ns-opentelemetry-instrumentation
  tag: 0.0.1

# Namespaces to ignore even if label is present
ignoreNamespaces:
  - kube-system
  - kube-public
  - kube-node-lease
  - default

# Instrumentation CR template values
instrumentation:
  exporter:
    endpoint: "http://dmsignoz-otel-collector.platform.svc.cluster.local:4318"
  propagators:
    - tracecontext
    - baggage
    - b3
  sampler:
    type: parentbased_always_on

  env:
    - name: OTEL_LOGS_EXPORTER
      value: "otlp"

  java:
    env:
      - name: OTEL_EXPORTER_OTLP_PROTOCOL
        value: http/protobuf
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: "http://dmsignoz-otel-collector.platform.svc.cluster.local:4318"
      - name: OTEL_LOGS_EXPORTER
        value: "otlp"

  dotnet:
    env:
      - name: OTEL_EXPORTER_OTLP_PROTOCOL
        value: http/protobuf
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: "http://dmsignoz-otel-collector.platform.svc.cluster.local:4318"
      - name: OTEL_LOGS_EXPORTER
        value: "otlp"
      - name: OTEL_DOTNET_AUTO_LOGS_CONSOLE_EXPORTER_ENABLED
        value: "true"

  python:
    env:
      - name: OTEL_EXPORTER_OTLP_PROTOCOL
        value: http/protobuf
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: "http://dmsignoz-otel-collector.platform.svc.cluster.local:4318"
      - name: OTEL_LOGS_EXPORTER
        value: "otlp"

  nodejs:
    env:
      - name: OTEL_EXPORTER_OTLP_PROTOCOL
        value: http/protobuf
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: "http://dmsignoz-otel-collector.platform.svc.cluster.local:4318"
      - name: OTEL_LOGS_EXPORTER
        value: "otlp"
